menu "LD2410C_UART_CONFIG"
    config FOO_ENABLE_BAR_UART
        bool "Enable the BAR UART feature."
        help
            This enables the BAR feature of the FOO component.

    config SENSOR_UART_RX_BUFFER_SIZE
        int "UART RX buffer size"
        default 2048
        help
            UART RX buffer size in bytes
        
    config SENSOR_UART_TX_BUFFER_SIZE
        int "UART TX buffer size"
        default 2048
        help
            UART TX buffer size in bytes

    # config SENSOR_UART_QUEUE_SIZE
    #     int "UART queue size"
    #     default 10
    
        config SENSOR_UART_PORT_NUM
        int "Sensor UART port number"
        range 0 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        default 2 if IDF_TARGET_ESP32 || IDF_TARGET_ESP32S3
        range 0 1
        default 1
        help
            UART communication port number for the LD2410C sensor.

    config SENSOR_UART_RXD
        int "Sensor UART RXD pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_RANGE_MAX
        default 15
        help
            GPIO number for LD2410C UART RX pin. 

    config SENSOR_UART_TXD
        int "Sensor UART TXD pin number"
        range ENV_GPIO_RANGE_MIN ENV_GPIO_RANGE_MAX
        default 14
        help
            GPIO number for LD2410C UART TX pin.

    config SENSOR_UART_INITIAL_BAUD
        int "UART Sensor initial baud_rate"
        default 256000
endmenu